html {
}

body {
    width: 375px;
    background-color: #E5E5E5;
}

.section1 {
    background-color: #FFFFFF;
    height: 718px;
    border-radius: 0 0 0 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 0 25px;    
}

#logo {
    color: #6070FF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;    
    text-align: center;    
}

.bar-icon {
    background-color: #6070FF;
    width: 15px;
    height: 2px;    
    margin: 3px 0;
    border-radius: 2px;
}


#intro-head {
    position: static;
    width: 327px;
    height: 150px;
    left: 24px;
    top: 114px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172B4D;    
}
