html {
}

body {
    width: 375px;
    background-color: #E5E5E5;
}

.section1 {
    background-color: #FFFFFF;
    height: 718px;
    border-radius: 0 0 0 50px;
}

#logo {
    color: #6070FF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;    
    text-align: center;    
}

.bar-icon {
    background-color: #6070FF;
    width: 15px;
    height: 2px;    
    margin: 3px 0;
    border-radius: 2px;
}

