html {
    width: 375px;
}

body {
    font-family: Poppins, Helvetica, sans-serif;
    width: 375px;
    background-color: #E5E5E5;
    margin: 0;
    height: calc(718px * 1.5);
}

.section1 {
    background-image: url("images/background/Ellipse 3.png"),
    url("images/background/Ellipse 4.png"),
    url("images/background/Ellipse 5.png"),
    url("images/background/Ellipse 8.png"),
    url("images/background/Ellipse 11.png"),
    url("images/background/Ellipse 12.png"),
    url("images/background/Ellipse 13.png"),
    url("images/background/Ellipse 15.png"),
    url("images/background/Rectangle 4.png"),
    url("images/background/Rectangle 5.png"),
    url("images/background/Rectangle 6.png"),
    url("images/background/Rectangle 7.png");
    background-repeat: no-repeat;
    background-position: 323px 165px, 237px 655px, 128px 160px, 214px 110px,
    0 161.47px, 332px 530px, 324px 541px, 53px 645px, 294px 132px,
    188px 653px, 0px 141.49px, 127px 151px;
    background-color: #ffffff;
    height: 718px;
    border-radius: 0 0 0 50px;
    padding: 0 30px 0 30px;
}


/* Notifications Bar */
.not-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 16px; 
    margin-right: -14px; 
    font-size: 14px;    
}

.time {        
    padding-left: 10px;
    font-weight: 500;
}

.fas {    
    padding-left: 6px;    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

#logo {
    color: #6070FF;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.bar-icon {
    background-color: #6070FF;
    width: 15px;
    height: 2px;
    margin: 3px 0;
    border-radius: 2px;
}

#intro-head {
    position: static;
    width: 327px;
    height: 150px;
    left: 24px;
    top: 114px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172B4D;
    
}

#intro-text {
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
}

#lets-connect {
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
    text-transform: uppercase;
}

#social-media-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 40%;
}


/*i of LinkedIn Icon*/
.i-container {
    display: inline-block;
}

.i1, .i2 {
    display: block;
}